.ui-loader h1{visibility: hidden;display:none;} /* Hide bootstrap mobile error */


/* General */
h3 {
    color: #808080;
    font-size: 12.5px;
    font-weight: normal;
    margin: 5px 0;
    padding: 0;
}
h4 {
    font-size: 12.5px;
    font-weight: normal;
    text-align: left;
    color: #0055b8;
    margin: 5px 0 5px 5px;
}
h5 {
    font-size: 11.5px;
    font-weight: normal;
    text-align: left;
    color: #002d73;
    margin: 5px 0 5px 5px;
}
a {
    color:#2d6da4;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}




/* Navbar section */
.navbar-header button {
    float: right;
    color: #2359a8;
    display: inline-block;
    height: 36px;
    margin: 10px 0 0;
}

.navbar-header .main-logo {
    float:left;
    width:94; 
    height:62;
}

.navbar-header button span.location-icon {
    background: url(../img/location_icon.png) no-repeat;
    background-size: 100% auto;
    display: inline-block;
    padding-top:5px;
    width: 9px;
    height: 13px;
}
.navbar-header button span.title {
    margin-right: 4px;
}




/* Dropdown Menu */
#dropdown {
    position: absolute;
    top: 0;left: 0;
    margin: 0;
    width: 100%;
    z-index: 999;
    background-color: #f2f2f2;
    padding: 18px 25px 18px 25px;
}
#dropdown .dropdown-logo {
    float: left;
    margin:-5px 0px 0px 4px;
}


#dropdown .dropdown-close-top {
    float: right;
}
#dropdown .dropdown-close-top button {
    background: url(../img/dropdown_close.png) no-repeat 49% 49%;
    height: 28px;
    width: 28px;
    background-size: 100% 100%;
    border: 0;
    margin: -4px -12px 0px 0px;
    padding: 0;
}

#dropdown .dropdown-content .left-section {
    width: 100%;
    float: none;
    padding: 0px 5px 0px 0px;
}
#dropdown .dropdown-content .left-section .menu-title {
    text-align: center;
    border-bottom: 1px solid #b7bcbf;
    padding: 10px 0;
}
#dropdown .dropdown-content .left-section .menu-title span {
    color: #7d868c;
    margin: 10px 0 15px 0px;
    position: relative;
}
#dropdown .dropdown-content .left-section .menu-items {
    margin: 15px 0 0 0px;
}
#dropdown .dropdown-content .left-section .menu-items > ul {
    text-align: center;
    font-size: 13px;
}
#dropdown .dropdown-content .left-section .menu-items > ul > li {
    text-align: center;
    line-height: 35px;
    display: inline-block;
    width: 48.5%;
}
#dropdown .dropdown-content .right-section {
    width: 100%;
    float: none;
    padding: 0 5px 0 5px;
}
#dropdown .dropdown-content .right-section .menu-title {
    text-align: center;
    border-bottom: 1px solid #b7bcbf;
    padding: 10px 0;
}
#dropdown .dropdown-content .right-section .menu-title span {
    color: #7d868c;
    position: relative;
    margin: 10px 0 15px;
}
#dropdown .dropdown-content .right-section .more-links-section {
    margin: 15px 0 0;
}
#dropdown .dropdown-content .right-section .more-links-section > ul {
    text-align: center;
    font-size: 13px;
}

#dropdown .dropdown-content .right-section .more-links-section > ul > li {
    text-align: center;
    line-height: 35px;
    display: inline-block;
    width: 48.5%;
}
#dropdown .dropdown-close-bottom {
    text-align: center;
    width: 28px;
    margin: auto;
}
#dropdown .dropdown-close-bottom button {
    background: url(../img/dropdown_close.png) no-repeat 49% 49%;
    height: 28px;
    width: 28px;
    background-size: 100% 100%;
    border: 0;
    margin: 15px 0 0;
    padding: 0;
}




/* Cars Section */
.cars-section .container #ul > li {
    float: left;
    width: 100%;
    margin: 5px 0;
}
.cars-section .container #ul > li > ul > a > li {
    text-align: center;
    margin: 11px 0;
}
.cars-section .container #ul > li > ul > a > li > .image-div {
    vertical-align: middle;
    text-align: center;
    height: 50px;
}
.colType1, .colType2 {
    float: left;
    width: 49%;
}

.cars-section .container #ul > li.list2 {
    width: 100%;
}




/* Find Dealer section */
.find-dealer-section {
    padding: 9px 0 21px;
    margin: 11px 0;
    background-color: #004b8d;
}
.find-dealer-section .container .section-title {
    position: relative;
    text-align: center;
    color: #a3b4cb;
    margin: 11px 0 14px;
}
.find-dealer-section .container .section-title::before {
    content: "";
    top: 49%;
    left: 0;
    right:0;
    position: absolute;
    height: 1px;
    width: 95%;
    background-color: #1a5d99;
}
.find-dealer-section .container .section-title span {
    background-color: #004b8d;
    padding: 0 20px;
    z-index: 2;
    position: relative;
}

.find-dealer-section .container .locate {
    float:clear;
}
.find-dealer-section .container .locate .left-section {
    float: left;
    width: 47%;
    margin: 6px 5px 6px 0;
}
.find-dealer-section .container .locate .current-location {
    background: url(../img/currentLocation_icon.png) no-repeat 13px 48%;
    float: right;
    color: #ffffff;
    font-size: 12px;
    padding: 4px 14px 3px 27px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    background-size: 10px auto;
}
.find-dealer-section .container .locate .right-section {
    float: right;
    width: 47%;
    margin: 6px 0 6px 5px;
}
.find-dealer-section .container .locate .right-section input {
    float: left;
    vertical-align: middle;
    width: 88px;
    height: 26px;
    padding: 0 0 0 11px;
    margin: 0 0 0 11px;
    border: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.find-dealer-section .container .locate .right-section button {
    float: left;
    color: #ffffff;
    background: none;
    font-size: 11px;
    width: 24px;
    height: 24px;
    padding: 0 0 0 2px;
    margin: 0 2px 0 11px;
    border: 1px solid #ffffff;
    border-radius: 48%;
    -webkit-border-radius: 48%;
    -moz-border-radius: 48%;
}


/* Footer Section */
.footer-section {
    background-color: #fafafa;
}
.footer-section a {
    color: #2d6da4;
}
.footer-section .container .section-title {
    text-align: center;
    margin: 9px 0;
    position: relative;
    color: #808080;
}
.footer-section .container .section-title::before {
    content: "";
    top: 48%;
    left: 0;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #b0b0b0;
}
.footer-section .container .section-title span {
    position: relative;
    z-index: 2;
    background-color: #fafafa;
    padding: 0px 20px 0px 20px;
}
.footer-section .container .menu-items > ul {
    font-size: 10px;
    text-align: center;
}
.footer-section .container .menu-items > ul > li {
    line-height: 29px;
    display: inline-block;
    width: 39%;
    text-align: center;
    /*height:;*/
}

.footer-section .container .lined-icons {
    position: relative;
    text-align: center;
    margin: 19px 0 11px 0;
}
.footer-section .container .lined-icons::before {
    content: "";
    height: 1px;
    width: 100%;
    top: 49%;
    left: 0;
    position: absolute;

}
.footer-section .container .lined-icons > ul > li {
    background-color: #fafafa;
    display: inline-block;
    z-index: 2;
    position: relative;
    padding: 0px 5px;
    margin: 0;
}
.footer-section .container .lined-icons > ul > li img {
    height: 32px;
    width: 32px;
}
.footer-section .footer-section-logo {
    text-align: center;
    margin: 28px 0 0;
}
.footer-section .footer-section-text {
    text-align: center;
    color: #9a9a9a;
    font-size: 11px;
    margin: 15px 0 0px 15px;
}
.footer-section .footer-section-text {
    text-align: center;
}
.footer-section .footer-section-text ul {
    text-align: center;
}
.footer-section .footer-section-text {
    display: inline-block;
}
.footer-section .footer-section-text  ul {
    display: inline-block;
}
.footer-section .footer-section-text ul li {
    display: inline-block;
}
footer ul  {
    text-align: center;
}
footer ul li {
    display:inline;
    padding:0 1px;
    font-size:11px;
    padding-bottom:10px
}




/* Mobile Friendly */
@media (min-width: 360px) and (max-width: 480px) {
    h4 {
        margin-top: 5px;
        margin-bottom: 5px; 
        margin-left: 7px;
    }
    h5 {
        margin-top: 5px;
        margin-bottom: 5px; 
        margin-left: 7px;
    }
}
@media (min-width: 480px) {
    #dropdown .dropdown-content .left-section {
        width: 49%;
        float: left;
    }
    #dropdown .dropdown-content .right-section {
        width: 49%;
        float: left;
    }
}
@media (min-width: 480px) {
    .colType1 {
        width: 25%;
    }
    .colType2 {
        width: 49%; /*For second nested li in the ul*/
    }
    .cars-section .container #ul > li.list2 {
        width: 49%;
    }
}
@media (min-width: 480px) {
    .footer-section .container .menu-items > ul > li {
        width: 25%;
    }
}
